body{
	background-image: url('../images/academics.JPG');
	background-size: cover;
	

}

.tm-container{
background: rgba(256,256,256,0.75);
height: 100px;
max-width: 1200px;

padding: 5px;

}

.nav a{
	text-decoration: none;
	color: black;
	font-size: 1.5em;
	margin-top: 80px;
	margin-left: 50px;
}

img{
	max-height: 90px;
	padding: 5px;
	float: left;
}

.lists{
	display: inline-block;
}

.nav{
	float: right;
	margin-right: 50px;
}

.nav ul a:hover{

	background: rgba(256,256,256,1);
}

.academics{
	/*background: rgba(256,256,256,0.8);*/
	margin-top: 50px;
	
	padding: 10px;

}

table{
	background: rgba(256,256,256,0.8);
	border-color: black;
	font-size: 2em;
	padding: 2px;
	border-collapse: collapse;
}

.caption h1{
	background: rgba(256,256,256,0.8);
}

.body{
	max-width: 1200px;
	
}

.currlink{
	background: rgba(0,0,0,0.3);
}