.tm_container{
	background: rgba(256,256,256,0.8);
	max-width: 1200px;
	margin: 0 auto;
	padding: 5px;


}

body{
	background-image: url('../images/abstract.jpg');
	background-size: cover;
    
}
.nav{
	float: right;
	margin-right: 50px;
}

.nav ul a{
	margin-top: 80px;
	margin-left: 50px;
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}

.nav ul a:hover{

	background: rgba(256,256,256,1);
}

.me{
	padding: 5px;
	margin-top: 100px;
	float: left;
	width:50%;
	
}

.intro{
background: rgba(256,256,256,0.7);
float: right;
width: 40%;
padding: 5px;
margin-top: 105px;
font-size: 1.5em;
}

.footer{
	
	background: rgba(0,0,0,1);
	position: relative;
	height: 40px;
	margin-top: -40px;
	clear: both;
	color: white;
	padding-left: 600px;
	padding-top: 15px;
}

.body{
	max-width: 1200px;
	margin-right: 0 auto;
}

.currlink{
	background: rgba(0,0,0,0.3);
}